<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <!--Vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!--Axios-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js"></script>

    <style>
        .strikeThrough{
            text-decoration: line-through;

        }
    </style>
</head>
<body class="bg-light p-5">
{% csrf_token %}
    <!--setup Vue app-->
    <div id="app">
        <h1 class="text-center">[[headerText]]</h1>
        <div class="row">
            <div class="col-4 offset-4 d-flex mb-5 justify-content-center">
                <input type="text" class="form-control" v-model="newTodoText">
                <button class="btn btn-success" v-on:click="addTodo">Add</button>
            </div>
        

            <!--Incomplete List-->
            <div class="col-4 offset-2">
                <h3 class="text-center">Incomplete</h3>
                <div v-for="todo in incompleteTodo" class="card p-4 mt-3 flex-row justify-content-between">
                    <!--1. todo text-->
                    [[todo.id]] [[todo.text]]
                    <div class="buttons">
                        <button class="btn btn-sm btn-success" v-on:click="toggleComplete(todo.id)">Complete</button>
                        <button class="btn btn-sm btn-danger" v-on:click="deleteTodo(todo.id)">Delete</button>
                    </div>
                </div>
            </div>


            <!--Complete List-->
            <div class="col-4">
                <h3 class="text-center">Complete</h3>
                <div v-for="todo in completeTodo" class="card p-4 mt-3 flex-row justify-content-between">
                    <!--1. todo text-->
                    <span v-bind:class="{strikeThrough: todo.complete}">[[todo.id]] [[todo.text]]</span>
                    <div class="buttons">
                        <button class="btn btn-sm btn-success" v-on:click="toggleComplete(todo.id)">Complete</button>
                        <button class="btn btn-sm btn-danger" v-on:click="deleteTodo(todo.id)">Delete</button>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <!--Create Vue Object-->
    <script>
        const BASE_URL = 'http://127.0.0.1:8000/'
        const csrfToken = document.getElementByName('csrfmiddlewaretoken')[0]
        axios.defaults.xsrfHeaderName = 'X-CSRFToken'
        axios.defaults.headers = {
            'Content-Type': 'application/json',
            'X-CSRFTOKEN': csrfToken.value, //include django CSRF token
        }

        const app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                headerText: 'Vue To Do',
                completeTodo: [],
                incompleteTodo: [],
                newTodoText: '',
                idCount: 1,
            },
            created: function(){
                axios({
                    url: BASE_URL + 'list/', 
                    method: 'get',
                })
                //.then(response=>console.log(response))
                .then(response=>{
                    this.updateTodos(response.data.todos)
                })
                .catch(error=>console.log(error)) 
            },
            methods: {
                // create method that toggles complete() and delete()
                updateTodos: function(todos){
                    this.completeTodo = todos.filter(todo=>todo.complete)
                    this.incompleteTodo = todos.filter(todo=>!todo.complete)
                },
                
                //addTodo: function(){
                //    this.incompleteTodo = this.incompleteTodo.concat({
                  //      id: this.idCount,
                    //    text: this.newTodoText,
                      //  complete: false,
                    //})
                    //this.idCount +=1
                    //this.newTodoText = ''
                //},
                addTodo: function(){
                    axios({
                        url: BASE_URL + 'create/',
                        method: "POST",
                        data: {
                            'new_todo_text': 'hello world'
                        }
                    })
                    .then(response=>console.log(response))
                    .catch(error=>console.log(error.response))
                },
                // toggle complete value for selected todo
                toggleComplete: function(todoId){
                    //combine the completed and incomplete todos
                    let todos = this.completeTodo.concat(this.incompleteTodo)

                    //change the selected todo items complete
                    todos = todos.map((todo)=>todo.id !==todoId? todo : {...todo, complete:!todo.complete})

                    //split todos into seprate arrays
                    //this.completeTodo = todos.filter(todo=>todo.complete)
                    //this.incompleteTodo = todos.filter(todo=>!todo.complete)
                    this.updateTodos(todos)
                },
                deleteTodo: function(todoId){
                    //combine the completed and incomplete todos
                    let todos = this.completeTodo.concat(this.incompleteTodo)
                    //loop thru todos, keep todo that does not match todoId
                    todos = todos.filter(todo=>todo.id !== todoId)

                    //split todos into seprate arrays
                    //this.completeTodo = todos.filter(todo=>todo.complete)
                    //this.incompleteTodo = todos.filter(todo=>!todo.complete)
                    this.updateTodos(todos)
                }
            }
        })
    </script>
    
</body>
</html>