.featured .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
}


.featured .right {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.left h2 {
    font-size: 1.4rem;
}