.todo {
  margin: 0.4rem auto;
  width: 500px;
  height: 185px;
  color: white;
  background-color: rgb(49, 49, 49);
  border-radius: 18px;
}

.todo-title {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0.6rem 0rem 0.2rem 0rem;
}

.todo .todo-options {
  display: flex;
  justify-content: center;
}

.todo-options button {
  margin: 0.3rem;
  width: 85px;
  height: 24px;
  border-radius: 7px;
  background-color: white;
  color: black;
  cursor: pointer;
}

.edit-form {
  margin: 0.5rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-form input {
  font-size: 1.05rem;
  padding: 0.1rem 0.2rem;
}

.edit-form button {
  margin: 0.4rem;
  width: 95px;
  height: 24px;
  border-radius: 8px;
  background-color: white;
  color: black;
  cursor: pointer;
}
