{% extends 'blog_app/base.html' %}



{% block title %}
    Create a Category
{% endblock title %}
    

{% block content %}

{% if user.is_authenticated %}
    <h1>Add Category</h1>
    <div class="form-group">
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-secondary">Add Category</button>
    </form>
    </div>
    <a href="{% url 'index' %}" class="btn btn-secondary">Back</a>
{% else %}
    <br>
    <p>Please login to create a post.</p>
{% endif %}
    
    
{% endblock content %}