{% extends 'blog_app/base.html' %}



{% block title %}
    {{post.title_tag}}
{% endblock title %}
    


{% block content %}
<br>
<h1>{{ post.title }}</h1>
<small>By: 
    {{post.author.first_name}}
    {{post.author.last_name}} - 
    {{post.post_date}} - 
    <a href="{% url 'update' post.id %}">Edit</a> 
    <a href="{% url 'delete' post.id %}">Delete</a>
</small>
    <br>
    <hr>
    <br>
    {{post.body}}
<br>
<br>
<a href="{% url 'index' %}" class="btn btn-secondary">Back</a>
    
{% endblock content %}