{% extends 'blog_app/base.html' %}



{% block title %}
    Update Blog Post
{% endblock title %}
    

{% block content %}


{% if user.is_authenticated %}
    <h1>Update Blog Post</h1>
    <div class="form-group">
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-secondary">Update</button>
        </form>
    </div>
    <a href="{% url 'index' %}" class="btn btn-secondary">Back</a>
{% else %}
    <br>
    <p>Please Login to update posts</p>

{% endif %}
{% endblock content %}