.video {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero {
    height: 100vh;
    width: 100%;
    object-fit: contain;
}

.hero .content {
    text-align: center;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 40vh;
}

.hero .content h1 {
    font-size: 4rem;
}

.hero p {
    font-size: 1.8rem;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
}

.btn {
    margin: 0 5px;
    padding: 12px 32px;
    font-size: 1.2rem;
    text-transform: uppercase;
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
  }


.btnLight {
    margin: 0 5px;
    background: rgba(255, 255, 255, 0.2);
    padding: 12px 32px;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
  }
  
.btn:hover {
    background: rgba(255, 255, 255, 0.2);
  }

.btnLight:hover {
    background: transparent;
}

@media screen and (max-width: 750px) {
    .content p {
        font-size: 1.3rem;
        padding: .4rem;
    }

    .hero .content h1 {
        font-size: 3.8rem;
    }
}