{% extends 'blog_app/base.html' %}


{% block title %}
    Home
{% endblock title %}




{% block content %}
<br>
<h3>Blog Posts:</h3>
<hr>
<br>
<a href="{% url 'addpost' %}">Make a Post</a>
<br><br>
<ul>
{% for post in posts %}
    <li><a href="{% url 'postdetails' post.id %}">{{post.title|title}}</a> - By {{post.user|title}}<br>
        <br>
        {{post.body|title}}
        <br><br>
        <small><a href="{% url 'update' post.id %}">(Update)</a></small>
        <small><a href="{% url 'delete' post.id %}">(Delete)</a></small>
        <br><br><br><br>
    </li>
{% endfor %}
</ul>   


{% endblock content %}
    
    
    