.contact {
  max-width: 920px;
  margin: auto;
  margin-bottom: 12rem;
}

.contact h1 {
  margin: 2rem;
  font-size: 2rem;
  text-align: center;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 100%;
}

.contact input {
  margin: 0.5rem 0rem;
  padding: 0.4rem 0.2rem;
  width: 100%;
  font-size: 1rem;
  /* border: none; */
}

.contact label {
  text-transform: uppercase;
}

.contact textarea {
  margin: 0.5rem 0rem;
  padding: 0.4rem;
  width: 100%;
  font-size: 1rem;
  /* border: none; */
}

.contact button {
  width: 100%;
  height: 38px;
  color: white;
  background-color: #2aa59f;
  border: 1px solid #2aa59f;
  border-radius: 4px;
  cursor: Pointer;
}
