.coin {
  padding: 0.9rem 0.9rem;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 110px;
  height: 110px;
}

.coin:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
}


.top {
  width: 23px;
}

.top img {
  width: 23px;
}

.coin h5 {
  font-size: 0.7rem;
}

.coin p {
  font-size: 0.7rem;
}

.coin span {
  font-size: 0.7rem;
}

.red {
  display: flex;
  color: red;
}

.green {
  display: flex;
  color: green;
}