.navbar {
  max-width: 1250px;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 1.9rem;
  color: #6900ff;
}

.purple {
  color: #6900ff;
}

.right button {
  margin: 0 0.4rem;
  width: 75px;
  height: 30px;
  border-radius: 4px;
  background-color: #6900ff;
  color: whitesmoke;
  cursor: pointer;
}