<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>TODOS</h1>
    <p>Dont have an Account? <a href="{% url 'register' %}">Register</a></p>

    <div>
    {% if request.user.is_authenticated %}
        <h3>Hello {{request.user|title}}</h3>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
    </div>

    <a href="{% url 'create' %}">Create Todo</a>

    <form action="" method="GET">
        <input type="text" name="search-text" value="{{search_input}}">
        <input type="submit" value="Search">
    </form>

    {% for todo in todos %}
        <p>
            {{todo}}
            <a href="{% url 'delete' todo.id %}">Delete</a>
            <a href="{% url 'update' todo.id %}">Update</a>
        </p>
    {% endfor %}
        
</body>
</html>